@model CentralCommand.Models.LoginViewModel

<section style="text-align:center">
@using (Html.BeginForm("Index", Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "LoginForm", enctype = "multipart/form-data"}))
{
<div>
    <div>
        @Html.LabelFor(m => m.UserName)<br />
        @Html.TextBoxFor(m => m.UserName)<br />
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)<br />
        @Html.PasswordFor(m => m.Password)<br />
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.EditorFor(m => m.Foo)
    </div>
    
    <input id="loginButton" type="submit" value="Log In" />
    @Html.ValidationSummary(false)  @*true), "Login failed. Check yourself!")*@
</div>
}
</section>
