<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <h1>Mars Mission - Alpha Tango Victor</h1>
        </div>
    </header>
    <div style="clear:both; margin:50px 0px;"></div>
    @RenderBody()
    <div style="clear:both; margin:50px 0px;"></div>
   @* @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@

    <footer>

    </footer>
</body>
</html>
